<app-search #searchbar></app-search>

<ion-content>

    <ion-slides #slidesImg [options]="slideOpts" (ionSlideTouchEnd)="SlideTouchEnd()">
      <ion-slide *ngFor="let item of slidesImgs">
          <img src="{{item.url}}"/>
      </ion-slide>
    </ion-slides>

    <div class="h_title">
      猜你喜欢
    </div>
    <div class="h_list">
      <ul class="clearfix" [ngStyle]="{'width': slidesGHListUlWidth+'rem'}">
        <li *ngFor="let item of slidesGHList">
          <img [src]="item.url"  href="#"/>
          <p>{{item.title}}</p>
        </li>
      </ul>
    </div>

    <div class="h_title">
       商品列表
    </div>
    <div class="p_list">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let item of pList">
            <img [src]="item.url" href="#"/>
            <p>{{item.title}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>