/deep/ .my-drawer {
    //position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-height: 50%;
  }

  /deep/ .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  /deep/ .my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
  }
